@import "assets/main.css";

h1 {text-align: center;}

h4 {
    font-style: italic;
    font-weight: lighter;
}

.special-title { 
    text-align: center; 
    font-size: 40px;
}

.group-name-setting { 
    text-align: center;
    font-size: 20px;
}

body {
    background-color: rgb(241, 247, 248);
}

.flex {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    align-content: center;
}

.flex-migration {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    align-content: center;
    width: 1400px;
    position: relative;
    left: -350px;
}

.migration-viz {
    width: 700px;
    height: auto;
}

.button {
    background-color: #cedde6;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.bird-button {
    vertical-align: middle;
}

.image {
    height: 50%;
    border: none;
    padding: 10px;
    display: block;
    margin: auto;
    width: 50%;
}

.italic {
    font-style: italic
}

.graph-img {
    width: 700px;
    height: auto;
}

.migration-graph-img {
    width: 500px;
    height: auto;
}

.quote-box {
    border: 5px solid #9e2656;
    padding: 10px;
    margin: 20px;
    font-weight: lighter;
    text-align: center;
}

.quote {
    font-style: italic;
    font-weight: lighter;
}