---
layout: "page"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Data Analysis & Visualization FInal Project - Group 9</title>
    <!--<link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet" href="../primary.css">
  </head>
  <body>
    <main>
        {{ content }}
        <hr>
        <div class="flex">
            <a href="/introduction/" class="button">Introduction</a>
            <a href="/species/" class="button">Species</a>
            <a href="/migration-temporal/" class="button">Migration</a>
            <a href="/conclusion/" class="button">Conclusion</a>
        </div>
    </main>
    
    
    

  </body>
</html>